<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Do&Ja Spa</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Latin&display=swap" rel="stylesheet">
<style>
html {
font-family: 'Anek Latin', sans-serif;
}
* {
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: 'Anek Latin', sans-serif !important;
}
</style>
</head>
<body>
<div style=" width: 675px; background: white;border-radius: 10px;margin: auto;height: auto;padding: 40px;">
<div>
<div >
<img src="https://doja.co.nz/fe/logo_anfico1.5.png" alt="logo" />
</div>
<div style="margin-top: 77px;">
<h2 style=" color: #85512b;padding: 0;text-transform: uppercase;font-size: 25px;font-weight: 600;text-align: center;margin-bottom: 54px;">Booking Information</h2>
<div>

  <div  style="margin-bottom: 30px;">
    <p  style="font-size: 20px;color: #85512b;font-weight: 500;margin-bottom: 12px;">Customer Name:</p>
    <div style=" width: 100%;height: 50px ; border-radius: 10px;border: 1px solid #D6E0DA;padding: 15px 33px;font-size: 18px;color: #143C49;" th:text="${customerNameBooking}">NGUYỄN VĂN A</div>
  </div>

  <div  style="margin-bottom: 30px;">
    <p style="font-size: 20px;color: #85512b;font-weight: 500;margin-bottom: 12px;">Email:</p>
    <div style="width: 100%;height: 50px;border-radius: 10px;border: 1px solid #D6E0DA;padding: 15px 33px;font-size: 18px;color: #143C49;" th:text="${emailBooking}">Doja@gmail.com</div>
  </div>

  <div  style="margin-bottom: 30px;">
    <p style="font-size: 20px;color: #85512b;font-weight: 500;margin-bottom: 12px;">Phone Number:</p>
    <div style="width: 100%;height: 50px;border-radius: 10px;border: 1px solid #D6E0DA;padding: 15px 33px;font-size: 18px;color: #143C49;" th:text="${phoneNumberBooking}">097 8159 123</div>
  </div>

  <div style="margin-bottom: 30px;">
    <p style="font-size: 20px;color: #85512b;font-weight: 500;margin-bottom: 12px;">Time:</p>
    <div style="width: 100%;height: 50px;border-radius: 10px;border: 1px solid #D6E0DA;padding: 15px 33px;font-size: 18px;color: #143C49;" th:text="${bookingDateBooking + ' ' + timetable}">Doja@gmail.com</div>
  </div>

  <div style="margin-bottom: 30px;">
    <p  style="font-size: 20px;color: #85512b;font-weight: 500;margin-bottom: 12px;">Address:</p>
    <div style=" width: 100%;height: 50px;border-radius: 10px;border: 1px solid #D6E0DA;padding: 15px 33px;font-size: 18px;color: #143C49;" th:text="${address}">20 Thatcher St Mission Bay Auckland 1071 New Zealand</div>
  </div>

  <div style="margin-bottom: 30px;">
    <p  style="font-size: 20px;color: #85512b;font-weight: 500;margin-bottom: 12px;">Service Package:</p>
    <div style=" width: 100%;height: 50px;border-radius: 10px;border: 1px solid #D6E0DA;padding: 15px 33px;font-size: 18px;color: #143C49;" th:text="${servicePackage}">Xông hơi</div>
  </div>

  <div style="margin-bottom: 30px;">
    <p style="font-size: 20px;color: #85512b;font-weight: 500;margin-bottom: 12px;"> Staff:</p>
    <div style="width: 100%;height: auto;border-radius: 10px;border: 1px solid #D6E0DA;padding: 15px 33px;font-size: 18px;color: #143C49;" th:text="${staff}">29ae59rw43</div>
  </div>

  <div style="margin-bottom: 30px;">
    <p style="font-size: 20px;color: #85512b;font-weight: 500;margin-bottom: 12px;">Voucher Code:</p>
    <div style=" width: 100%;height: auto;border-radius: 10px;border: 1px solid #D6E0DA;padding: 15px 33px;font-size: 18px;color: #143C49;" th:text="${orderId}"></div>
  </div>
</div>
</div>
</div>
</div>
</body>
</html>
