

@font-face {
    font-family: "Bai Jamjuree";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/BaiJamjuree-Medium.ttf") ,
    url("../fonts/BaiJamjuree-BoldItalic.ttf") ,
    url("../fonts/BaiJamjuree-LightItalic.ttf");
}

@font-face {
    font-family: "Valky";
    src: url(../fonts/NVNValky-Light.ttf) format('truetype');
}

:root {
    --text-color: #393939;
    --primary: #144E8C;
    --border-color: #DDDDDD;
}

html {
    font-family:"Bai Jamjuree"  !important;
}

.NVNValky {
    font-family: "Valky";
    line-height: 64px;
}

body {
    background: #fff !important;
    overflow: hidden;
    font-family:"Bai Jamjuree"  !important;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper-form {
    display: flex;
    align-items: center;
    width: 100vw !important;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.form-header-anfico {
    margin-bottom: 25px;
}

.logo-website {
    max-width: 80px;
    content: url("./logologin.png");
    position: absolute;
    top: 0;
    left: 189px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-websites {
    max-width: 120px;
    content: url("./icon.png");
    position: absolute;
    right: 90px;
    top: -30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-header-anfico > h2 {
    font-size: 48px;
    font-weight: 700;
    color: #85512B;
    margin-top: 60px;
}

.form-header-anfico > p {
    color: #5F5F5F;
    font-size: 16px;
}


#kc-form-wrapper {
    padding: 0 185px;
    flex: 1;
    position: relative;
}

.bg-login_sub {
   background-image: url('../img/background.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   flex: 1;
    height: 100%;
}

.login-pf-page {
    padding: 0 !important;
}

.login-pf-page .card-pf {
    padding: 0 !important;
}

.form-group {
    margin-bottom: 25px;
}

.pf-c-form__label {
    color: var(--text-color);
    font-size: 16px;
    margin-bottom: 16px !important;
}

.pf-c-form-control {
    border-radius: 10px;
    border: 1px solid var(--border-color);
    height: 50px !important;
    width: 100%;
    outline: none;
    background-color: transparent !important;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.15));
    font-family:"Bai Jamjuree"  !important;

}

.pf-c-form-control:focus {
    border-color: var(--primary);
}

.pf-m-error {
    font-size: 16px !important;
    color: #F93131 !important;
    margin-top: 12px !important;
}

.btn-submit {
    background-color: #BC8A79;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    height: 50px !important;
    border-radius: 10px;
    border: none;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-google {
    background-image: url("../img/googlekeycloak.png");
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    justify-items: flex-start;
}

.btn-social:hover {
    
    text-decoration: none !important;
    color: #fff !important;
    
}


/* @media (min-width: 768px) {
    #kc-container-wrapper {
        position: absolute;
        width: 100%;
    }

    .login-pf .container {
        padding-right: 80px;
    }

    #kc-locale {
        position: relative;
        text-align: right;
        z-index: 9999;
    }
} */
@media (max-width: 1400px) {
    #kc-form-wrapper {
        padding: 0 50px;
    }
}

@media (max-width: 1200px) {
    #kc-form-wrapper {
        padding: 0 150px;
    }
    .bg-login_sub {
        display: none;
    }
}

@media (max-width: 1024px) {
    .logo-website {
        display: none;
    }
    .logo-websites {
        display: none;
    }
}

@media (max-width: 767px) {

    #kc-form-wrapper {
        padding: 0 30px;
    }
  

    .form-header-anfico {
        margin-bottom: 40px;
        text-align: center;
        position: relative;
    }
    
    .form-header-anfico > h2 {
        font-size: 30px;
        font-weight: 500;
        color: #85512B;
    }

    .NVNValky {
        font-family: "Valky";
        line-height: 64px;
    }
    
    .form-header-anfico > p {
        color: #5F5F5F;
        font-size: 13px;
        margin-top: 20px;
    }

    .login-pf body {
        background: white;
    }

    #kc-header {
        padding-left: 15px;
        padding-right: 15px;
        float: none;
        text-align: left;
    }

    #kc-header-wrapper {
        font-size: 16px;
        font-weight: bold;
        padding: 20px 60px 0 0;
        color: #72767b;
        letter-spacing: 0;
    }

    div.kc-logo-text {
        margin: 0;
        width: 150px;
        height: 32px;
        background-size: 100%;
    }

    #kc-form {
        float: none;
    }

    #kc-info-wrapper {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        background-color: transparent;
    }

    .login-pf .container {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #kc-locale {
        position: absolute;
        width: 200px;
        top: 20px;
        right: 20px;
        text-align: right;
        z-index: 9999;
    }

    #kc-logo-wrapper {
        background-size: 100px 21px;
        height: 21px;
        width: 100px;
        margin: 20px 0 0 20px;
    }

}

@media (max-width: 400px) {
    #kc-form-wrapper {
        padding: 0 24px;
    }

}


/*phone*/
@media (max-width: 767px) {
    .login-pf-page .card-pf {
        max-width: none;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        border-top: 0;
        box-shadow: 0 0;
    }

    .logo-website {
        display: none;
    }

    .logo-websites {
        display: none;
    }

    .kc-social-grid {
        grid-column-end: 12;
        --pf-l-grid__item--GridColumnEnd: span 12;
    }

    .kc-social-grid .kc-social-icon-text {
        left: -15px;
    }
}

.login-pf-page .login-pf-signup {
    font-size: 15px;
    color: #72767b;
}
#kc-content-wrapper .row {
    margin-left: 0;
    margin-right: 0;
}

.login-pf-page.login-pf-page-accounts {
    margin-left: auto;
    margin-right: auto;
}

.login-pf-page .btn-primary {
    margin-top: 0;
}

.login-pf-page .list-view-pf .list-group-item {
    border-bottom: 1px solid #ededed;
}

.login-pf-page .list-view-pf-description {
    width: 100%;
}

#kc-form-login div.form-group:last-of-type,
#kc-register-form div.form-group:last-of-type,
#kc-update-profile-form div.form-group:last-of-type {
    margin-bottom: 0px;
}

.no-bottom-margin {
    margin-bottom: 0;
}

#kc-back {
    margin-top: 5px;
}



/* Update info */
#kc-update-profile-form {
    width: 600px;
    padding: 60px 60px 20px;
    margin: auto;
    border-radius: 10px;
    background-color: #f7f5f5 !important;
    box-shadow: 32px -32px 0 0 rgba(252, 253, 253, 0.6);
    position: relative;
}

.kc-form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
    border-radius: 10px;
    border: 1px solid #144e8c;
    margin-bottom: 60px;
}

.kc-form-title>h3 {
    color: #144e8c;
    font-size: 40px;
    font-weight: 600;
}

.btn-login {
    gap: 10px;

    width: 484px;
    height: 48px;

    /* Cam đậm */

    background: #06c !important;
    border-radius: 10px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;

    /* Xám vàng be */

    color: #F7F7F1;
}


#kc-form-buttons {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: #144e8c;
    color: #fff !important;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
} 

#kc-form-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#kc-form-options>span {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    /* Xám đậm 1 */

    color: #49494A;
}

#kc-form-options>div>span>a {
    font-style: normal;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 28px;

    /* Cam đậm */
    margin-left: 12px;
    color: #144e8c !important;
}


.transparent-class {
    background-color: transparent !important;
    outline: none;
    border: none;
}
